<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Course3-Day2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>128532A81C01E8DD007BC2B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>128532BC1C01E8DD007BC2B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>128532C71C01E8DD007BC2B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
