<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ComputeStuff.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Day3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>12A027391C116FB80029468C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12A0274D1C116FB90029468C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12A027581C116FB90029468C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12A0276F1C116FDD0029468C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12A027781C116FDD0029468C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
