<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CourseN-Example.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>120CF2E71BE2461300BEBBD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>120CF2FB1BE2461300BEBBD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>120CF3061BE2461300BEBBD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
