<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TravelApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>127B3B611C0B2A4100FD6E9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>127B3B751C0B2A4100FD6E9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>127B3B801C0B2A4100FD6E9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12B26FA81C149945004B2D01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
